
* {
    box-sizing: border-box;
  }
  
  html,
  body {
    height: 100%;
    margin: 0;
    touch-action: none;
    overscroll-behavior: none;
  }
  
  body {
    background: radial-gradient(#333, #111);
    color: #fff;
    font-family: sans-serif;
    overflow: hidden;
  }
  
  /*================================================
  
  Score
  
  ================================================*/
  
  .score {
    color: rgba(255, 255, 255, 0.5);
    font-size: 16px;
    font-weight: bold;
    text-align: center;
    padding-top: 5px;
  }
  
  /*================================================
  
  Stage
  
  ================================================*/
  
 .stage {
   position: absolute;
   inset: 0;
   margin: auto;
 }
  
  /*================================================
  
  Tiles
  
  ================================================*/
  
  .tile {
    background: rgba(0, 0, 0, 0.15);
    position: absolute;
    transition: background 300ms, box-shadow 300ms;
  }
  
  .tile:before {
    bottom: 0;
    content: '';
    height: 0;
    left: 0;
    margin: auto;
    opacity: 0;
    position: absolute;
    right: 0;
    top: 0;
    width: 0;
    transition: opacity 300ms;
  }
  
  .tile.path:before {
    opacity: 1;
  }
  
  .tile.up:before {
    border-bottom: 4px inset rgba(255, 255, 255, 0.15);
    border-left: 4px solid transparent;
    border-right: 4px solid transparent;
  }
  
  .tile.down:before {
    border-top: 4px inset rgba(255, 255, 255, 0.15);
    border-left: 4px solid transparent;
    border-right: 4px solid transparent;
  }
  
  .tile.left:before { 
    border-right: 4px inset rgba(255, 255, 255, 0.15);
    border-top: 4px solid transparent;
    border-bottom: 4px solid transparent;
  }
  
  .tile.right:before { 
    border-left: 4px inset rgba(255, 255, 255, 0.15);
    border-top: 4px solid transparent;
    border-bottom: 4px solid transparent;
  }
  
  @media (max-width: 900px), (max-height: 900px) {
    .tile.up:before,
    .tile.down:before,
    .tile.left:before,
    .tile.right:before {
      border-width: 3px;
    }
  }
  
  @media (max-width: 500px), (max-height: 500px) {
    .tile.up:before,
    .tile.down:before,
    .tile.left:before,
    .tile.right:before {
      border-width: 2px;
    }
  }
  
  .tile.pressed {
    background: rgba(0, 0, 0, 0.3);
    box-shadow: inset 0 0 10px rgba(0, 0, 0, 0.6);
  }